/embeddings_frontend/
/embeddings_backend/__pycache__
/embeddings_backend/embeddings/__pycache__
/embeddings_backend/uploads/
/embeddings_backend/utils/__pycache__
/express-backend/node_modules/
/express-backend/credentials.json